USE [master]
GO
/****** Object:  Database [ChatterDatabase]    Script Date: 11/15/2017 10:49:57 AM ******/
CREATE DATABASE [ChatterDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChatterDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ChatterDatabase.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ChatterDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ChatterDatabase_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChatterDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChatterDatabase]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 11/15/2017 10:49:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[ChatID] [int] IDENTITY(1,1) NOT NULL,
	[ChatMessage] [nvarchar](140) NOT NULL,
	[TimeStamp] [datetime] NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Chat] PRIMARY KEY CLUSTERED 
(
	[ChatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Chat] ADD  CONSTRAINT [DF_Chat_TimeStamp]  DEFAULT (getdate()) FOR [TimeStamp]
GO
USE [master]
GO
